<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img class="" src="assets/img/Logo.svg" srcset="assets/img/Logo.svg" alt="Automate.io">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="col-sm-3"></div>
      <div class="row col-sm-5">
        <div class="col-sm-2">
          <a href="#" class="fas fa fa-th-large"></a>
        </div>    
        <div class="col-sm-2">
          <a href="#" class="fas fa fa-plus"></a>
        </div>
        <div class="col-sm-2">
          <a href="#" class="fas fa fa-trash"></a>
        </div>
        <div class="col-sm-2">
          <a href="#" class="fas fa fa-edit"></a>
        </div>  
        <div class="col-sm-2">
          <a href="#" class="fas fa fa-lock"></a>
        </div>
      </div>
      <div class="row col-sm-4 topnavsr" >
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>  
  </nav>
  
  <div class="row">
    <div class="col-sm-4"></div>  
    <div class="col-sm-8"></div>  
  <div>