<div class="ParentContainer row">
    <div class="col-sm-4 listCnotainer">
        
        <!-- Repeted List Items -->
        <div class="ItemContainer row">
            <div class="col-sm-12 p0">
                <p class="NoteTitle">Hello</p>
            </div>
            <div class="col-sm-4 p0">
                3:45 PM
            </div>
            <div class="col-sm-8 p0">
                This Is some Random Text
            </div>
            <div class="col-sm-12 btmColBorder">

            </div>
        </div>

    </div>
    <div class="col-sm-8">
        <textarea id="w3review" class="mt20 textBody" name="w3review" rows="20" cols="100"></textarea>
    </div>
</div>
