<div class="ParentContainer row">
    <div class="col-sm-4 listCnotainer" data-simplebar>
        <!-- Repeted List Items -->
        <div class="ItemContainer row" *ngFor="let notesData of formValue;let i = index;" (click)="itemSelect(i)" [ngClass]="{'SelectContainerClass': i === itemIndex}">
            <div class="col-sm-12 p0">
                <p class="NoteTitle Textellipsis" style="max-width:160px">{{notesData.lable}}</p>
            </div>
            <div class="col-sm-4 p0 ">
                {{notesData.time | date: 'h:mm a' }}
            </div>
            <div class="col-sm-8 p0 Textellipsis" style="max-width:230px;" >
                {{notesData.textBody}}
            </div>
            <div class="col-sm-12 btmColBorder">
            </div>
        </div>

    </div>
    <div class="col-sm-8">
        <p class="CurrentDateStyle">{{CurrentDate | date: 'medium'}}</p>
        <textarea id="w3review" type="text" [(ngModel)]="NoteBodyText" (keyup)="textBodyChanged()" class="mt20 textBody" name="w3review" rows="20" cols="80" ></textarea>
    </div>
</div>
